<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}"/>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="{{ url_for('static',filename='js/base.js') }}"></script>

  <title>{{ title }}</title>

</head>



<body>

    <div class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('public.index') }}">{{ banner }}</a>
            
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div><!--navbar-brand-->
        
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-start">
                 <a class="navbar-item" href="{{ url_for('public.index') }}">
                    Home
                 </a>
                {% if user  %}
                     <a class="navbar-item" href="{{ url_for('user.user') }}">{{ user }}</a>
    
                    <a class="navbar-item" href="{{ url_for('login.client_logout') }}">Logout</a>
    
                {% else %}
                    <a class="navbar-item" href="{{ url_for('login.client_login') }}">Login</a>
    
                {% endif %}
            </div><!--navbar-start-->
        </div><!--navbar-menu-->
        
    </div> <!--navbar-->



 {% block body %}


{% endblock %}

    <footer class="footer">
    </footer><!--footer-->

    </body>
</html>
