#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Feb 27 13:09:57 2019

@author: lg
"""

@font-face {
    font-family: 'mylodon';
    src: url('static/fonts/mylodon-light-webfont.woff2') format('woff2');
       
    font-weight: normal;
    font-style: normal;
}

#title{
    color: #6f6f7b; 
    font-family: 'mylodon'; 
    font-size: 5em; 
    text-align: center;
}

.menav
{
    background: #171616;
}